@model IEnumerable<ProyectoVideoJuegos.Models.Juego>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Principal.cshtml";
}

<h1>Juegos</h1>

<p>
    <a asp-action="Create">Crear un nuevo Juego</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protagonistas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioAlquiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdJuego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protagonistas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioAlquiler)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Titulo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Titulo">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Titulo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form action="/Principal/Editar">
    <button type="submit" class="btn btn-secondary">Regresar</button>
</form>