@model IEnumerable<ProyectoVideoJuegos.Models.Juego>

@{
    ViewData["Title"] = "Juegos";
}

<h1>Juegos</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdJuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protagonistas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioAlquiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJuego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Año)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Protagonistas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plataforma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioAlquiler)
                </td>
                <td>
                    @Html.ActionLink("Alquilar", "Login", "Principal")
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://kit.fontawesome.com/d49ad5ab73.js" crossorigin="anonymous"></script>