@model ProyectoVideoJuegos.Models.Precio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Principal.cshtml";
}

<h1>Detalle</h1>

<div>
    <h4>Precio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloNavigation.Titulo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPrecio">Editar</a> |
    <a asp-action="Index">Regrsar a la lista</a>
</div>
